<!DOCTYPE html>
<html>
<head>
  <title>/admin/cookie/result/id</title>
</head>
<body>
  <header>
    <h1 class="poll-name">What movie should we go see?</h1>
    <h2 class="admin-email">amir@example.com</h2>
  </header>
  <main>
    <section class="poll">
      <ol>
        <li>Alladin</li>
        <li>Beauty and the Beast</li>
      </ol>
      
    </section>
<!-- This section will shown the results in a form of a bar/pie chart -->
    <section class="result-chart">
      
    </section>
    <section>
      <a href="/admin/:cookie/polls" id="back-to-polls">Back to Polls</a>
      <button type="button">Close poll</button>
    </section>
<!-- This will be hidden of the page, will be shown when the poll is closed -->
    <section>
      <p>Most voted option: <b id="winner"> Alladin </b> </p>
      <p>Result link for users: <b id="result-link"> polls/result/:id </b> </p>
    </section>
    
  </main>

</body>
</html>