<!DOCTYPE html>
<html>
<head>
  <title>/</title>
</head>
<body>
<!-- Company name and tagline -->
  <h1>Stack Poll</h1>
  <h3>You vote, you decide</h3>
<!-- Clicking will slide down next section -->
  <button>Get Started</button>
  <main id="create-poll">
    <form class="poll-fields">
      <p>What do you want to call your poll?</p>
        <input name="poll-name" placeholder="What movie should we go see?">
      <p>Describe your poll (optional).</p>
        <input name="description" placeholder="A poll to decide which movie to see...">
      <p>Your first choice.</p>
        <input name="choice1" placeholder="Aladdin">
      <p>Your second choice.</p>
        <input name="choice2" placeholder="Beauty and the Beast">
      <p>Don't forget to give us your email (we'll send the link to your poll).</p>
        <input name="email" placeholder="Email address">
      <br>
        <input type="submit" name="Submit">
    </form>
  </main>
<!-- This will be hidden of the page -->
    <section>
      <form>
        <article class="preview">
          <header class="header">
            <h3 class="poll-name"></h3>
            <h4 class="description"></h4>
          </header>
            <h3 class="choice1">Aladdin</h3>
            <h3 class="choice2">Beauty and the Beast</h3>
        </article>
      <input type="submit" name="Submit">
      <a href="#">Cancel</a>
      </form>
    </section>
<!-- Hidden until here -->
</body>
</html>