<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/polls_result.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://use.fontawesome.com/c0ee90dc6d.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/scripts/charts.js"></script>
</head>

<body>
  <nav class="navbar fixed-top navbar-light">
    <a class="back" href="/admins/:id/polls">BACK TO MY PROFILE</a>
    <button class="form-control" type="submit">END POLL</button>
  </nav>
  <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>

</html>
