.navbar {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Old Standard TT', serif;
  background: url(pie_chart.png);
  height: 110px;
}


/*
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  </head>
  <body>
    <header> DECISION MAKER </header>
    <!-- <% if (user) { %> -->
      <p>
        <%= user.email %>
      </p>
      <form method="POST" action="/logout">
        <button type="submit">LOGOUT</button>
      </form>
      <!-- <% } else { %> -->
        <a href="/register">REGISTER</a>
        <!-- <% } %> -->
  </body>
</html>
*/
