body {
  padding: 5vw;
  text-align: center;
  background-color: #F5F5F5;
  font-family: 'Old Standard TT', serif;
  padding-left: 25em;
  padding-right: 25em;
}

#options {
  display: inline-block;
}

.option {
  margin: 25px 25px;
  border: 1px solid #9EADB9;
  background-color: #F5F5F5;
  border-radius: 4px;
}

.option:hover {
  /*border: 3px solid #F5F5F5;*/
  background-color: #9EADB9;
  border-radius: 3px;
}

span {
  margin-right: 50px;
  float: right;
}

h3 {
  width: 50%;
  margin: 0 auto;
}

.poll-name {
  display: inline-block;
}

.description {
  border: 2px solid black;
}

.completed {
  font-size: 15rem;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  font: white;
  font-family: Helvetica;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  color: black;
  background-color: #9EADB9;
  font-weight: 700;
}

.jumbotron {
  background-color: #E9ECEF;
}
